body {
    background-color: black;
}

.post {

    background-color: white;
    width: 80%;
    height: auto;
    margin: 30px auto 30px auto;
    font-size: medium;
}

.fa-html5 {
    font-size: 50px;
}

.post-header {
    padding: 10px;
    background-color: white;
    padding-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    margin:0px;
    
}

.titulopadre {

    display: flex;
    gap: 15px;
}


.puntitos {
    display: flex;
    align-items: center;
    font-size: xx-large;
    margin-right: 20px;
    
}

.fa-bookmark { float: right;}

.post-footer {
    margin: 3%;
   
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.icons {
    font-size: x-large;
}