body {
    background-color: rgb(92, 89, 89);
}

.post {
    font-family: "Roboto", sans-serif;
    background-color: antiquewhite;
    width: 35%;
    height: auto;
    margin: auto;
    border: 1px solid black;
    box-shadow: 5px 10px 20px black;  
}

.post-header {
    padding: 10px;
    padding-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px black;
}

.divizquierdo {
    display: flex;
    gap: 1em;
    align-items: center;
}

.divderecho {
    display: flex;
    align-items: center;
    font-size: xx-large;
    margin-right: 20px;
}
.titulo {
    margin: -2px;
}

h3 {
    margin: -2px;
}
span {
    margin-left: -1.5px;
}

.fa-html5 {
    font-size: 50px;
    display: flex;
    align-items: center;
}

.post-footer {
    margin: 3%;
}

.icons {
    font-size: x-large;
}

.fa-bookmark {
    float: right;
}


@media (max-width: 1500px) {
    .post {
      width: 50%;

  }
}